html,
body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
}

/* HEADER */

.header-links li {
  display: flex;
  padding: 10px;
  align-items: center;
  vertical-align: middle;
  float: right;
  height: 48px;
  justify-content: flex-end;
}

#sign-in {
  background-color: rgb(26, 115, 232);
  color: white;
  min-width: 96px;
  padding: 9px 15px;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0);
}

/* SEARCH FORM */

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.search-bar {
  position: relative;
}

input[type="text"] {
  height: 44px;
  width: 582px;
  max-width: 584px;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 24px;
}

#search-icon {
  position: absolute;
  top: 13px;
  left: 13px;
  opacity: 35%;
}

#mic-icon {
  position: absolute;
  top: 13px;
  right: 13px;
}

/* FOOTER */

footer {
  width: 100%;
  min-height: 50px;
  background-color: rgb(242, 242, 242);
  position: absolute;
  bottom: 0;
}

.footer-group {
  display: flex;
  margin: 0 40px;
}

#left-footer {
  float: left;
}

#right-footer {
  float: right;
}

.footer-links {
  padding: 10px;
  border-top: 1px solid rgb(218, 220, 224);
}

.footer-links a {
  color: rgb(112, 117, 122);
  font-size: 14px;
}
